# GitHub personal access token
GITHUB_ACCOUNT_TOKEN=
DOWNLOAD_SERVER_URL=
PORT=
# GitHub account name
GITHUB_ACCOUNT= 
# GitHub repository name
GITHUB_REPOSITORY=


# Allows you to refresh the caches it it stale
# If not provided, you wouldn't need authentication to refresh
# When you provide it, you will need to add it to your header as a 'token' when calling the refresh route.
# `{{SERVER_URL}}/refresh`
REFRESH_AUTHORISATION_TOKEN